@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  @apply bg-[#f8f7ff]
}

.contain{
  @apply max-xl:p-[5px] xl:px-[15rem]
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}